* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nanum Gothic", sans-serif;
  color: #3d3d3d;
}

body {
  background-color: white;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: grey;
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
