.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3d3d3d;
  border-color: #3d3d3d transparent #3d3d3d transparent;
  animation: loading 0.6s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  &__text {
    font-size: 3rem;
    font-weight: 600;
    color: #3d3d3d;
  }
}
